#footer {
	#menu-footer1,
	#menu-footer2,
	#menu-footer3 {
		border: none;
		li {
			a {
				border-left: none;
				color : #fff;
				background: transparent;
			}
		}
	}
}

// FAQ
#main-wrapper {
	.hb-accordion-single {
		.hb-accordion-tab {
			background: transparent;
			border-color: transparent;
			border-bottom: 1px solid #fff;
			&.active-toggle {
				color: #000;
			}
			
		}
		.hb-accordion-pane {
			background: transparent;
			border: none;
		}
	}
}