@font-face {
  font-family: 'gotham_bookregular';
  src: url('fonts/gotham-book-webfont.eot');
  src: url('fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gotham-book-webfont.woff') format('woff'), url('fonts/gotham-book-webfont.ttf') format('truetype'), url('fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_lightregular';
  src: url('fonts/gotham-light-webfont.eot');
  src: url('fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gotham-light-webfont.woff') format('woff'), url('fonts/gotham-light-webfont.ttf') format('truetype'), url('fonts/gotham-light-webfont.svg#gotham_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_mediumregular';
  src: url('fonts/gotham-medium-webfont.eot');
  src: url('fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gotham-medium-webfont.woff') format('woff'), url('fonts/gotham-medium-webfont.ttf') format('truetype'), url('fonts/gotham-medium-webfont.svg#gotham_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
#login {
  width: 450px;
}
@media screen and (max-width: 480px) {
  #login {
    width: 320px;
  }
}
.logo-link a:focus {
  outline: 0;
  box-shadow: none;
}
#pass-strength-result {
  display: none;
}
.hidden {
  display: none;
}
.login-action-register,
.login-action-login,
.login-action-lostpassword,
.login-action-rp,
.login-action-resetpass {
  background-color: rgba(0, 0, 0, 0.75);
}
.login-action-register .login-reg,
.login-action-login .login-reg,
.login-action-lostpassword .login-reg,
.login-action-rp .login-reg,
.login-action-resetpass .login-reg {
  background-color: #022c4c;
  margin-top: 0;
  padding: 26px;
}
.login-action-register .login-reg label,
.login-action-login .login-reg label,
.login-action-lostpassword .login-reg label,
.login-action-rp .login-reg label,
.login-action-resetpass .login-reg label {
  font-size: 1.1em;
  margin: 0.5em 0 1em 0;
  text-indent: 0;
  font-family: gotham_lightregular;
  display: block;
  color: rgba(255, 255, 255, 0.5);
}
.login-action-register .login-reg .input,
.login-action-login .login-reg .input,
.login-action-lostpassword .login-reg .input,
.login-action-rp .login-reg .input,
.login-action-resetpass .login-reg .input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #d1b57c;
  line-height: 0;
  padding: 0.2em !important;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  font-family: gotham_lightregular;
  margin: 0.5em 0;
  box-shadow: none;
}
.login-action-register .login-reg .input:-webkit-autofill,
.login-action-login .login-reg .input:-webkit-autofill,
.login-action-lostpassword .login-reg .input:-webkit-autofill,
.login-action-rp .login-reg .input:-webkit-autofill,
.login-action-resetpass .login-reg .input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
.login-action-register .login-reg .forgetmenot,
.login-action-login .login-reg .forgetmenot,
.login-action-lostpassword .login-reg .forgetmenot,
.login-action-rp .login-reg .forgetmenot,
.login-action-resetpass .login-reg .forgetmenot {
  float: none;
}
.login-action-register .login-reg .forgetmenot label,
.login-action-login .login-reg .forgetmenot label,
.login-action-lostpassword .login-reg .forgetmenot label,
.login-action-rp .login-reg .forgetmenot label,
.login-action-resetpass .login-reg .forgetmenot label {
  font-size: 1.1em;
}
.login-action-register .login-reg .forgetmenot input[type="checkbox"],
.login-action-login .login-reg .forgetmenot input[type="checkbox"],
.login-action-lostpassword .login-reg .forgetmenot input[type="checkbox"],
.login-action-rp .login-reg .forgetmenot input[type="checkbox"],
.login-action-resetpass .login-reg .forgetmenot input[type="checkbox"] {
  height: 13px;
  min-height: 13px;
  width: 13px;
  min-width: 13px;
}
.login-action-register .login-reg .forgetmenot input[type="checkbox"]:before,
.login-action-login .login-reg .forgetmenot input[type="checkbox"]:before,
.login-action-lostpassword .login-reg .forgetmenot input[type="checkbox"]:before,
.login-action-rp .login-reg .forgetmenot input[type="checkbox"]:before,
.login-action-resetpass .login-reg .forgetmenot input[type="checkbox"]:before {
  margin: -3px 0 0 -4px;
  font-size: 1.3em;
}
.login-action-register .login-reg .submit,
.login-action-login .login-reg .submit,
.login-action-lostpassword .login-reg .submit,
.login-action-rp .login-reg .submit,
.login-action-resetpass .login-reg .submit {
  margin-top: 2.5em !important;
  text-align: center;
}
.login-action-register .login-reg .submit .button-primary,
.login-action-login .login-reg .submit .button-primary,
.login-action-lostpassword .login-reg .submit .button-primary,
.login-action-rp .login-reg .submit .button-primary,
.login-action-resetpass .login-reg .submit .button-primary {
  float: none;
  border-radius: 0;
  box-shadow: none;
  background-color: #d1b57c;
  border: 0;
  padding: 0.35em 1.8em !important;
  font-size: 1.15em;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-shadow: none;
  font-family: gotham_lightregular;
  height: auto;
}
@media screen and (max-width: 480px) {
  .login-action-register .login-reg .submit .button-primary,
  .login-action-login .login-reg .submit .button-primary,
  .login-action-lostpassword .login-reg .submit .button-primary,
  .login-action-rp .login-reg .submit .button-primary,
  .login-action-resetpass .login-reg .submit .button-primary {
    padding: 0.6em 1.8em !important;
  }
}
.login-action-register .login-reg .email-notify,
.login-action-login .login-reg .email-notify,
.login-action-lostpassword .login-reg .email-notify,
.login-action-rp .login-reg .email-notify,
.login-action-resetpass .login-reg .email-notify {
  font-size: 1.05em;
  text-indent: 0;
  font-family: gotham_lightregular;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-bottom: -1em !important;
}
.login-action-register .login-reg label[for="user_email"],
.login-action-login .login-reg label[for="user_email"],
.login-action-lostpassword .login-reg label[for="user_email"],
.login-action-rp .login-reg label[for="user_email"],
.login-action-resetpass .login-reg label[for="user_email"] {
  position: relative;
}
.login-action-register .login-reg label[for="user_email"] .required-label,
.login-action-login .login-reg label[for="user_email"] .required-label,
.login-action-lostpassword .login-reg label[for="user_email"] .required-label,
.login-action-rp .login-reg label[for="user_email"] .required-label,
.login-action-resetpass .login-reg label[for="user_email"] .required-label {
  position: absolute;
  left: 2.7em;
}
.login-action-register .message.register,
.login-action-login .message.register,
.login-action-lostpassword .message.register,
.login-action-rp .message.register,
.login-action-resetpass .message.register {
  display: none;
}
.login-action-register.login #login {
  padding: 0.8% 0 0;
}
.required-label {
  color: #ff353b;
  padding-left: 0.25em;
}
.login .message,
.login #login_error {
  font-family: gotham_bookregular;
  font-weight: 600;
  margin-top: 1em;
  background-color: #fff;
  color: #022c4c;
  border: 0;
  text-align: center;
  font-size: 1.1em;
  box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.13);
}
.login #login_error {
  color: #D8000C;
  background-color: #FFBABA;
  text-align: left;
  line-height: 1.5;
  font-size: 1.05em;
}
.login #login_error > strong:first-child:before {
  content: "\f06a";
  padding-right: 0.5em;
  vertical-align: middle;
  display: inline-block;
  font: normal normal normal 1.2em FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.login #login {
  padding: 3% 0 0;
}
.login #login h1 a {
  width: 270px !important;
  height: auto;
  height: 130px !important;
  background-size: 100%;
  margin-bottom: 0;
}
.login #backtoblog {
  font-size: 1.15em;
  margin: 1em 0;
}
.login #nav {
  margin-top: 1.5em;
  color: #fff;
}
.login #nav a {
  font-size: 1.05em;
}
.login #backtoblog,
.login #nav {
  text-align: center;
}
.login #backtoblog a,
.login #nav a {
  color: #fff;
  font-family: gotham_lightregular;
}
.login #backtoblog a:hover,
.login #nav a:hover {
  color: #d1b57c;
}
.login #backtoblog a:focus,
.login #nav a:focus {
  box-shadow: none;
  color: inherit;
}
.login.login-action-register #login_error strong:before {
  content: "\f06a";
  padding-right: 0.5em;
  vertical-align: middle;
  display: inline-block;
  font: normal normal normal 1.2em FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.login-action-rp .login-reg label,
.login-action-resetpass .login-reg label {
  margin-bottom: 0.5em;
}
.user-pass2-wrap {
  margin-top: 1em;
}
.user-pass2-wrap br {
  display: none;
}
.indicator-hint {
  font-size: 1.05em;
  text-indent: 0;
  font-family: gotham_lightregular;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.5em;
}
